@using Tsi.Template.ViewModels.Grh.Employee;
@using Microsoft.AspNetCore.Mvc.Rendering

@model CreateEmployeeRequest

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create Employee</h5>
        <form asp-controller="Employee" asp-action="Create" method="post">

            <div class="form-group">
                @Html.DisplayNameFor(model => model.FirstName)
                <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.LastName)
                <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Cin)
                <input type="text" id="Cin" name="Cin" class="form-control" value="@Model.Cin" />
                <span asp-validation-for="Cin" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.DepartementId)
                @Html.DropDownListFor(x => x.DepartementId, Model.Departments, "", new { @id = "simpleSelect2", @class = "form-control" })
                <span asp-validation-for="DepartementId" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" name="save" class="btn btn-primary col-md-3">
                    <i class="far fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>


